@{

    Layout = "_LayoutPortal3";
}
@model TicketWeb.Models.VeMayBay

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có chăc là muốn xóa vé chuyến bay này ?</h1>

<div>
    <form asp-action="Delete">
        <input type="hidden" id="id" value="@Model.ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại</a>
    </form>
</div>

