@{

    Layout = "_LayoutPortal2";
}
@model TicketWeb.Data.SanBay

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có chăc là muốn xóa sân bay này ?</h1>

<div>
    <form asp-action="Delete">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại</a>
    </form>
</div>

